@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-text: #111827;
}

html,
body {
  background: var(--color-bg);
  @apply text-gray-100;
}

/* animations */

.fadeIn {
  animation: 0.3s fadeIn forwards;
}

.fadeOut {
  animation: 0.3s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(-20px, 0);
  }
}

.ReloadPrompt-container {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
.ReloadPrompt-toast {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    padding: 12px;
    border: 1px solid #8885;
    border-radius: 4px;
    z-index: 1;
    text-align: left;
    box-shadow: 3px 4px 5px 0 #8885;
    background-color: white;
    color: #111827;
}
.ReloadPrompt-toast-message {
    margin-bottom: 8px;
}
.ReloadPrompt-toast-button {
    border: 1px solid #8885;
    outline: none;
    margin-right: 5px;
    border-radius: 2px;
    padding: 3px 10px;
}
@media (prefers-color-scheme: dark){
  :root{
    --color-bg: #111827;
    --color-text: #ffffff;
  }
}